In [4]:
import pandas as pd
import numpy as np
import os

In [6]:
PRJ_DIR = '/home/doeun/code/AI/ESTSOFT2024/workspace/2.project_text/aladin_book_dataset/'

In [21]:
file_path = os.path.join(PRJ_DIR,'dataset','bookinfo','bestseller_240718.csv')

df = pd.read_csv(file_path)

display(df.info())

/tmp/ipykernel_28969/2001255385.py:3: DtypeWarning: Columns (4,5,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1415589 entries, 0 to 1415588
Data columns (total 15 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Rank            1415586 non-null  float64
 1   Division        1415482 non-null  object
 2   BookName        1415482 non-null  object
 3   ItemId          1415589 non-null  int64
 4   ISBN13          1401960 non-null  object
 5   Code            1225055 non-null  object
 6   Authors         1412914 non-null  object
 7   Publisher       1414962 non-null  object
 8   PublishDate     1415586 non-null  object
 9   RegularPrice    1415586 non-null  object
 10  SalesPrice      1415583 non-null  object
 11  Mileage         1415583 non-null  object
 12  SalesPoint      1415583 non-null  float64
 13  Category        1410341 non-null  object
 14  BestsellerWeek  1415583 non-null  object
dtypes: float64(2), int64(1), object(12)
memory usage: 162.0+ MB

None

In [8]:
file_path = os.path.join(PRJ_DIR,'dataset','bestseller_cleaned_240718.csv')

df = pd.read_csv(file_path)

display(df.info())
display(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158084 entries, 0 to 158083
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   상품명         158084 non-null  object
 1   ItemId      158084 non-null  int64
 2   저자/아티스트     158084 non-null  object
 3   출판사/제작사     158084 non-null  object
 4   출간일         158084 non-null  int64
 5   정가          158084 non-null  object
 6   판매가         158084 non-null  object
 7   세일즈포인트      158084 non-null  int64
 8   대표분류(대분류명)  158084 non-null  object
 9   날짜          158084 non-null  object
dtypes: int64(3), object(7)
memory usage: 12.1+ MB

None

,상품명,ItemId,저자/아티스트,출판사/제작사,출간일,정가,판매가,세일즈포인트,대표분류(대분류명),날짜
0,누가 내 치즈를 옮겼을까?,226139,"스펜서 존슨 지음, 이영진 옮김",진명출판사,20000315,"7,000","6,300",29660,자기계발,2000년10월1주
1,부자 아빠 가난한 아빠 1,220359,"로버트 기요사키, 샤론 레흐트 지음 | 형선호 옮김",민음인,20000210,"12,000","10,800",22994,경제경영,2000년10월1주
2,부자 아빠의 투자 가이드,247785,"로버트 기요사키 지음, 박슬라 옮김",민음인,20140926,"18,000","16,200",9304,경제경영,2000년10월1주
3,부자 아빠 가난한 아빠 2,231099,"로버트 기요사키 지음, 안진환 옮김",민음인,20121127,"17,000","15,300",24887,경제경영,2000년10월1주
4,창가의 토토,233350,"구로야나기 테츠코 지음, 김난주 옮김, 이와사키 치히로 그림",프로메테우스,20040129,"11,000","9,900",43114,소설/시/희곡,2000년10월1주

In [12]:
cols = ['BookName','ItemId','Authors','Publisher','PublishDate','RegularPrice','SalesPrice','SalesPoint','Category','BestsellerWeek']

df.columns = cols
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158084 entries, 0 to 158083
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   BookName        158084 non-null  object
 1   ItemId          158084 non-null  int64
 2   Authors         158084 non-null  object
 3   Publisher       158084 non-null  object
 4   PublishDate     158084 non-null  int64
 5   RegularPrice    158084 non-null  object
 6   SalesPrice      158084 non-null  object
 7   SalesPoint      158084 non-null  int64
 8   Category        158084 non-null  object
 9   BestsellerWeek  158084 non-null  object
dtypes: int64(3), object(7)
memory usage: 12.1+ MB

In [13]:
df.to_csv(file_path,index=False)

In [18]:
file_path = os.path.join(PRJ_DIR,'dataset','usedproduct_240718.csv')
df=pd.read_csv(file_path)

display(df.info())
display(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 784213 entries, 0 to 784212
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ItemId        784213 non-null  int64
 1   used_idx      784213 non-null  int64
 2   delivery_fee  784213 non-null  int64
 3   price         784213 non-null  int64
 4   quality       784213 non-null  object
 5   store         784213 non-null  object
 6   url           784213 non-null  object
dtypes: int64(4), object(3)
memory usage: 41.9+ MB

None

,ItemId,used_idx,delivery_fee,price,quality,store,url
0,1000071,1,2500,1200,균일가,중고매장부산덕천점,https://www.aladin.co.kr/shop/wproduct.aspx?It...
1,1000071,2,2500,1500,중,중고매장대전시청역점,https://www.aladin.co.kr/shop/wproduct.aspx?It...
2,1000071,3,2500,1500,균일가,중고매장부산 경성대.부경대역점,https://www.aladin.co.kr/shop/wproduct.aspx?It...
3,1000071,4,2500,1500,균일가,중고매장광주충장로점,https://www.aladin.co.kr/shop/wproduct.aspx?It...
4,1000071,5,2500,1500,균일가,중고매장대전시청역점,https://www.aladin.co.kr/shop/wproduct.aspx?It...

In [19]:
cols = ['ItemId','UsedIdx','DeliveryFee','Price','Quality','Store','Url']
df.columns = cols
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 784213 entries, 0 to 784212
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   ItemId       784213 non-null  int64
 1   UsedIdx      784213 non-null  int64
 2   DeliveryFee  784213 non-null  int64
 3   Price        784213 non-null  int64
 4   Quality      784213 non-null  object
 5   Store        784213 non-null  object
 6   Url          784213 non-null  object
dtypes: int64(4), object(3)
memory usage: 41.9+ MB

In [20]:
df.to_csv(file_path,index=False)